.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
select {
  font-size: 1.2em;
  padding: 0.5em;
  margin-bottom: 1em;
}
#recommendations {
  font-size: 1.2em;
  margin-top: 1em;
}
